<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Добавление новой книги</h1>
    <div class="container mt-5">
        <form method="post">
            <input type="text" name="name" id="name" class="form-control" placeholder="Название книги"><br>
            <textarea name="author" id="author" class="form-control" placeholder="Автор"></textarea><br>
            <textarea name="rating" id="rating" class="form-control" placeholder="Оценка"></textarea><br>
            <input type="submit" class="btn btn-succes" value="отправить"><br>
        </form>
    </div>
</body>
</html>